/* Gives entire HTML spacing parameters */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Gives the entire body a background color */
body {
    background-color: #d9dcd6;
}
/* Assigns the header a font and changes the color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Changes h1 font zize and allows other elements to be displayed by its side */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Moves nav elements to the right of h1 and assigns font properties as well as spacing */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Allows list items to be displayed next to the h1 element and changes spacing */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Assigns color to anchor elements and removes text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Assigns a font size to paragraph elements */
p {
    font-size: 16px;
}
/* Assigns footer font and centers content */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Assigns a font size to footer */
footer h2 {
    font-size: 20px;
}
/* Decides the background image and its parameters */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Determines content in main element size and allows other elements to be placed next to it */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Determines placement of article classes as well as the font and colors */
.articles {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Gives the image in articles class sizing */
.articles img {
    max-height: 200px;
}
/* Determines the properties of the subheadings in articles class */
.articles h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Moves image to the left of text */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Moves image to the right of text */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Determines the placement of elements within thw aside element; adds background color; assigns font */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Assigns color to font and space underneath */
.benefit-type {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Aligns the text in the center of the div */
.benefit-type h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Makes image a block element and determines the size */
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}